{{paper-radio-group items selectedItem=number}}

<p>
  Selected: {{number}}
</p>

Or a more complicated object:
{{#paper-radio-group people selectedItem=person as |person|}}
  {{#paper-radio-button name=person.name}}
    {{person.name}}
  {{/paper-radio-button}}
{{/paper-radio-group}}

<p>
  Name: {{person.name}}, Age: {{person.age}}
</p>
