<p>Block usage:</p>
{{#element-example name="block-usage"}}
  {{#paper-listbox items selectedItem=blockSelected as |item|}}
    <paper-item>{{item}}</paper-item>
  {{/paper-listbox}}

  <p>Selected = {{blockSelected}}</p>

  <p>Values are bound:</p>

  {{#paper-listbox items selectedItem=blockSelected as |item|}}
    <paper-item>{{item}}</paper-item>
  {{/paper-listbox}}
{{/element-example}}


<p>Multi select:</p>
{{#element-example name="multi"}}
  {{paper-listbox items selectedItem=multiSelected multi=true}}

  <p>Selected = {{multiSelected}}</p>
{{/element-example}}

<p>Non block usage:</p>
{{#element-example name="non-block"}}
  {{paper-listbox items selectedItem=nonBlockSelected}}
  <p>
    Selected = {{nonBlockSelected}}
  </p>
{{/element-example}}

<p>Without a positional param:</p>
{{#element-example name="no-positional"}}
  {{#paper-listbox selectedItem=noPositionalSelected}}
    <paper-item>Item 1</paper-item>
    <paper-item>Item 2</paper-item>
    <paper-item>Item 3</paper-item>
  {{/paper-listbox}}
  <p>
    Selected = {{noPositionalSelected}}
  </p>
{{/element-example}}

<p>With other attribute:</p>
{{#element-example name="other-attribute"}}
  {{#paper-listbox selectedItem=withNameAttribute selected="b"
    attrForSelected="name"}}
    <paper-item name="a">Item a</paper-item>
    <paper-item name="b">Item b</paper-item>
    <paper-item name="c">Item c</paper-item>
  {{/paper-listbox}}
  <p>
    Selected = {{withNameAttribute}}
  </p>
{{/element-example}}

<p>Using just index:</p>
{{#element-example name="just-index"}}
  {{paper-listbox items selected=selectedAnimal}}
  <p>
    Selected = {{selectedAnimal}}
  </p>
{{/element-example}}
