{{#element-example name="items"}}
  {{paper-radio-group items selectedItem=number}}

  <p>
    Selected: {{number}}
  </p>
{{/element-example}}

<p>Or a more complicated object:</p>
{{#element-example name="people"}}
  {{#paper-radio-group people selectedItem=person as |person|}}
    {{#paper-radio-button name=person.name}}
      {{person.name}}
    {{/paper-radio-button}}
  {{/paper-radio-group}}

  <p>
    Name: {{person.name}}, Age: {{person.age}}
  </p>
{{/element-example}}
