<p>
  <h2>Name: {{name}}</h2>
  {{paper-input value=name label="Name"}}
  {{input value=name}}
</p>
<p>
  <h2>
    {{#if checkboxChecked}}
      😎 feel good mann
    {{else}}
      😅 not so good ..
    {{/if}}
  </h2>
  {{#paper-checkbox checked=checkboxChecked}}
    I feel good
  {{/paper-checkbox}}
</p>
<p>
  <h2>Selected: {{checkedRadioButton}}</h2>
  {{#paper-radio-group selected=checkedRadioButton}}
    {{#paper-radio-button name="small"}}
      Small
    {{/paper-radio-button}}
    {{#paper-radio-button name="medium"}}
      Medium
    {{/paper-radio-button}}
    {{#paper-radio-button name="large"}}
      Large
    {{/paper-radio-button}}
  {{/paper-radio-group}}
</p>
